In [ ]:
import pandas as pd

# 상단 3개 삭제 후 가져오기
# index > 행정기관 


# usecols : 원하는 컬럼만 가져올 수 있음 'B,D,E' , 'B,E:Y', 'A:E'
# 남자부분만 가져옴
df = pd.read_excel('연령별인구현황01.xlsx', skiprows= 3, index_col = '행정기관', usecols = 'B,E:Y')
df

In [48]:
# df[]  컬럼을 보는 명령어
# df.iloc[번호] : row를 보는 명령어
df.iloc[0]
df.iloc[0].str.replace(',','').astype(int)
# df[슬라이싱] : row를 보는 명령어
df[0:1]
# df.loc[이름] : row를 보는 명령어
# df.index
df.loc['전국  ']
df[0:1]

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"678,966","1,019,087","1,195,436","1,195,498","1,446,090","1,777,534","1,788,146","1,629,589","2,055,022","1,965,092",...,"2,115,365","2,093,694","1,670,380","1,066,316","760,968","519,583","231,644","59,761","9,722","1,473"

In [ ]:
### 남자부분만 가져옴
### 여자부분만 가져와서 출력
### 위 세개를 제외하고, 행정기관 index, 여자부분만 가져옴
### [0] , 천단위 제거, 타입 int로 변경

# 여자부분만 가져오기
df_w = pd.read_excel('연령별인구현황01.xlsx', skiprows=3, index_col = '행정기관', usecols = 'B, AB:AV')
df_w
df.columns
df_w['0~4세.1']

# 여자컬럼과 남자컬럼명 다르기에 통일시킴
df_w.columns = df.columns
df_w.columns


# 천단위 int 타입 변경
df_w.iloc[0] = df_w.iloc[0].str.replace(',','').astype(int)
df_w.iloc[0]

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')