In [114]:
import pandas as pd
import numpy as np

df = pd.read_excel('연령별인구현황01.xlsx', skiprows=3, nrows=1, usecols='B,E:Y', index_col=0)
df.index
df.loc['전국  '] 

## 빈공백 제거
df.index[0].strip()

## index 1번째 row 데이터를 출력
df.loc[df.index[0]]   # == df.loc['전국  '] 


# index 이름을 변경
df.rename(index={df.index[0]:df.index[0].strip()}, inplace=True)
df.index

df.loc['전국']

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

0~4세         678,966
5~9세       1,019,087
10~14세     1,195,436
15~19세     1,195,498
20~24세     1,446,090
25~29세     1,777,534
30~34세     1,788,146
35~39세     1,629,589
40~44세     2,055,022
45~49세     1,965,092
50~54세     2,279,578
55~59세     2,115,365
60~64세     2,093,694
65~69세     1,670,380
70~74세     1,066,316
75~79세       760,968
80~84세       519,583
85~89세       231,644
90~94세        59,761
95~99세         9,722
100세 이상        1,473
Name: 전국, dtype: object

In [115]:
df.iloc[0] = df.iloc[0].str.replace(',','').astype(int)
df.info()
df = df.T
df['전국'].describe()
df['전국'].min()
df['전국'].max()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 전국 to 전국
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~4세     1 non-null      object
 1   5~9세     1 non-null      object
 2   10~14세   1 non-null      object
 3   15~19세   1 non-null      object
 4   20~24세   1 non-null      object
 5   25~29세   1 non-null      object
 6   30~34세   1 non-null      object
 7   35~39세   1 non-null      object
 8   40~44세   1 non-null      object
 9   45~49세   1 non-null      object
 10  50~54세   1 non-null      object
 11  55~59세   1 non-null      object
 12  60~64세   1 non-null      object
 13  65~69세   1 non-null      object
 14  70~74세   1 non-null      object
 15  75~79세   1 non-null      object
 16  80~84세   1 non-null      object
 17  85~89세   1 non-null      object
 18  90~94세   1 non-null      object
 19  95~99세   1 non-null      object
 20  100세 이상  1 non-null      object
dtypes: object(21)
memory usage: 284.0+ bytes

2279578

이름 변경
출생아 수 > 최대값 최소값 출력
축 변경

In [118]:
df = pd.read_excel('출산율2.xlsx', skiprows=2, nrows=2, index_col = 0)
df.index.values
df.rename({'출생아\xa0수':'출생아 수', '합계\xa0출산율':'합계 출산율'}, inplace=True)
df.index
df = df.T
# df.columns['출생아 수']
df['출생아 수'].min()
df['출생아 수'].max()

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

np.float64(438.4)

In [119]:
filt = (df['출생아 수'] >= 300) & (df['합계 출산율']>1)
df[filt]

      출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052