조건

In [9]:
import pandas as pd

df = pd.read_excel('score.xlsx',index_col='지원번호')
df

df[~(df['키']>=185)]


# 같은 결과값 
df[(df['키']>=185)]
df.loc[df['키']>=185]
df.loc[df['키']>=185, '이름']  # 키가 185 이상인 것의 이름컬럼만 출력

df.loc[df['키']>=185, ['이름','키','SW특기']]
df['키'] >= 185   # True, False 로 나옴

지원번호
1번     True
2번    False
3번    False
4번     True
5번     True
6번     True
7번     True
8번     True
Name: 키, dtype: bool

조건식

In [12]:
# 조건식 and &  or |
filt = (df['키']>=185) & (df['학교'] == '가산고')
df[filt]



# 강사님 깃허브 참고

       이름   학교    키  국어   영어  수학  사회 SW특기
지원번호
5번    김재욱  가산고  188  15   20  10  10  NaN
6번    박동현  가산고  202  80  100  95  80    C

문자열 (str) 조건

In [ ]:
### 강 / 김으로 시작되는 이름  : startswith
## 문자열 endwith, strip, replace

filt = df['이름'].str.startswith('강')     
df[filt]
df[df['이름'].str.startswith('김')]


# 수 가 포함되어 있는 이름을 검색
filt = df['이름'].str.contains('수')
df[filt]    
df[~filt]   # 이름에 수가 안 들어가는 사람
# df[df['이름'].str.startswith('근')]

# 대소문자 변환
df['SW특기'].str.lower()
df['SW특기'].str.upper()

df['SW특기']
langs = ['Python', 'Java']
## isin() : 리스트에 있는 단어가 포함되어 있는지 체크
filt = df ['SW특기'].isin(langs)


df[filt]


# 소문자 치환
langs = [['Python', ]]
filt = df['SW특기'].str.lower().isin(langs)
df[filt]



# Java 라는 글자가 있는 지 체크
# df[filt]

filt = df['SW특기'].str.contains('Java')
df['SW특기'].str.contains('Java', skipna=False)
df[filt]

df['SW특기'].str.lower().isin(langs)

NameError: name 'df' is not defined