In [10]:
import pandas as pd

## 상단 2개 삭제
## 0번 칼럼 인덱스로 지정 인덱스명 목록

# index_col 컬럼명이 없는 경우 : index 번호로 지정
df = pd.read_excel('출산율2.xlsx', skiprows = 2, nrows = 2, index_col = 0 )
df.index.name = '목록'
df

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
목록,,,,,,,,,,
출생아 수,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600,249.10,230.00
합계 출산율,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.78,0.72

In [ ]:
# 출생아 수
df.index.values   # index 문자 공백 : 유니코드까지 확인 해야함
df.loc['출생아\xa0수']

# 합계 출산율
df.index.values
df.loc['합계\xa0출산율']


# index 이름 변경
df.rename(index={'출생아\xa0수':'출생아 수', '합계\xa0출산율':'합계 출산율'}, inplace=True)
df.loc['출생아 수']

In [27]:


# index 컬럼의 축 변경
df = df.T
df

목록    출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808
2022  249.1   0.780
2023  230.0   0.720