In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv', sep='\t')
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [8]:
### item_name 그룹별로 개수 확인
df.groupby('item_name')['order_id'].count()
df['item_name'].value_counts().sort_values(ascending=False)

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [13]:
# 전체 item_name 개수 출력
df['item_name'].value_counts()
# items() item_name 개수를 튜플형태로 리턴해줌
list(df['item_name'].value_counts().items())
# 1번째 리스트 제목 출력
df['item_name'].value_counts().index[0] 
# 1번째 리스트 밸류 값 출력
df['item_name'].value_counts()[0]

C:\Users\KOSMO\AppData\Local\Temp\ipykernel_4524\2350466305.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['item_name'].value_counts()[0]

np.int64(726)

In [ ]:
## 주문메뉴 Chicken Bowl 인 quantity의 합계

# # 내가 한 거 - 1
# filt = df.groupby('item_name')['quantity'].sum().loc['Chicken Bowl']
# filt.loc['Chicken Bowl']

# # 내가 한 거 - 2
# df.groupby('item_name')['quantity'].sum().loc['Chicken Bowl']


df[df['item_name']=='Chicken Bowl']['quantity'].sum()
df.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

np.int64(761)

In [56]:
## 주문 평균 금액 출력
# 1. item_price > float 타입 변환
# df['item_price'] = df['item_price'].str.replace('$','').astype(float)
df
# # 2. order_id 그룹화 > 평균
df.groupby('order_id')['item_price'].sum().mean()

# # 총 주문 수량은?
# len(df['order_id'].unique())

np.float64(18.811428571428568)

In [88]:
## 각 아이템별 가격을 구하시오
## 주문이 1개인 메뉴 먼저 츌력
filt = df['quantity'] == 1

df[filt].groupby('item_name')[['item_price']].min()

                                       item_price
item_name
6 Pack Soft Drink                            6.49
Barbacoa Bowl                                8.69
Barbacoa Burrito                             8.69
Barbacoa Crispy Tacos                        8.99
Barbacoa Salad Bowl                          9.39
Barbacoa Soft Tacos                          8.99
Bottled Water                                1.09
Bowl                                         7.40
Burrito                                      7.40
Canned Soda                                  1.09
Canned Soft Drink                            1.25
Carnitas Bowl                                8.99
Carnitas Burrito                             8.69
Carnitas Crispy Tacos                        8.99
Carnitas Salad                               8.99
Carnitas Salad Bowl                          9.39
Carnitas Soft Tacos                          8.99
Chicken Bowl                                 8.19
Chicken Burrito                              8.19
Chicken Crispy Tacos                         8.49
Chicken Salad                                8.19
Chicken Salad Bowl                           8.75
Chicken Soft Tacos                           8.49
Chips                                        1.99
Chips and Fresh Tomato Salsa                 2.29
Chips and Guacamole                          3.89
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           2.95
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Green Chili Salsa        2.95
Chips and Tomatillo Red Chili Salsa          2.95
Chips and Tomatillo-Green Chili Salsa        2.39
Chips and Tomatillo-Red Chili Salsa          2.39
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             3.39
Salad                                        7.40
Side of Chips                                1.69
Steak Bowl                                   8.69
Steak Burrito                                8.69
Steak Crispy Tacos                           8.69
Steak Salad                                  8.69
Steak Salad Bowl                             9.39
Steak Soft Tacos                             8.99
Veggie Bowl                                  8.49
Veggie Burrito                               8.49
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                            8.75
Veggie Soft Tacos                            8.49

In [ ]:
## 한 주문당 20달러 이상 주문한 order_id 출력

df_s = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False)
filt = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False) >= 20
df_s.loc[filt]

order_id
926     205.25
1443    160.74
1483    139.00
691     118.25
1786    114.30
         ...
1113     20.00
1544     20.00
1805     20.00
1222     20.00
940      20.00
Name: item_price, Length: 589, dtype: float64

In [149]:

## Veggie Salad Bowl
filt = df['item_name'] == 'Veggie Salad Bowl'
df.loc[filt].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [ ]:
## Chicken Salad Bowl 몇개 주문되었는지 출력
filt = df['item_name'] == 'Chicken Salad Bowl'


df[filt]['quantity'].count()     # 주문 수 110개
# 주문 총 수량
df[filt]['quantity'].sum()       # 123개
# df[filt]['quantity'].sort_values(ascending=False).head(30)

np.int64(26)

In [1]:
# Chicken Salad Bowl 2개 이상 주문한 횟수

filt = (df['item_name'] == 'Chicken Salad Bowl') & (df['quantity'] > 1)
# df[filt]['quantity'].count()
df[filt][['quantity','item_name']].sort_values('quantity', ascending=False).count()   # 13개

NameError: name 'df' is not defined

In [3]:
filt = (df['item_name'] == 'Chicken Bowl')
df[filt].count()

NameError: name 'df' is not defined